Дисциплина Проектиране на софтуерни системи.

Изисквания към необходимите за работа по дисциплината софтуерни продукти

За дисципината са необходимо следните перодукти:

1. MS Office 2003, включително и всички tools (специално MS Picture manager).
2. MS Visio 2003.
3. MS Project 2003.
4. Acrobat Reader v8 или по-висока.
5. Архиватор IZ_Arch - freeware.
6. Enterprise Architect - Професионална CASE система, чието инсталиране не изисква някакви особености. Приложения useful key и  key generator  работят. Възможно е продукта да поиска при инсталация  svn - version control. Предпочитам обаче тази възможност да се игнорира и  да има самостоятелна инсталация на всяко работно място (което не е никакъв проблем) и всеки да си работи със собствената инсталация. Ако имаш проблеми с продукта - утре съм в университета и ще съдействам за решаването им. Боя се, че не може да  се направи една инсталация и после тя да се копира на всички места.

За екипната работа е ноебохимо:

1. Да има общ групов адрес в Google Groups.
2. Да има обща папка, която съдържа лекционните материали.
3. Да има обща папка, в която преподавателя поставя материалите за студенти.
4. Да има обща папка, в която студентите оставят материлите за преподавателя.
